<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <a href="/about">TweetAppとは</a>
  </ul>
</header>

<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザと楽しくコミュニケーションできます。
  </p>
  <%= image_tag "tweets.png" ,class: "about-img" %>
</div>
